.title {
  width: 100%;
  text-align: center;
  padding: 1rem 0;

  h1 {
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 100;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-list {
  display: flex;
  flex-direction: column;
}

.product {
  width: 700px;
  background-color: #f0f0f2;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.15);

  margin-bottom: 2rem;
}


.product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .category {
    font-size: 12px;
  }

  .price {
    font-size: 24px;
    font-weight: 700;
    color: #ff7373;
  }

  .quantity {
    font-size: 14px;
  }

  button {
    border: 0;
    background: #fff;
    border-radius: 20px;
    padding: .5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.buy {
  border: 0;
  padding: 1rem;
  background: #ff7373;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
